/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
body{
    display:flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin: auto;
}
.main {
    width: 720px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
height: 343px;
background: url(/images/hero.jpeg);
background-position: center;
background-size: cover;
}
#text{
    color: white;
}
.heading1{
    display: block;
    margin: auto;
    width: 225px;
    background: #1D3557;
    border-radius: 10px;
    padding: .2rem;
}
.heading2{
    display: block;
    margin: auto;
    padding-inline: 1rem;
    width: 412px;
    height: 52px;
    background: #457B9D;
    border-radius: 10px;
    text-align: center;
    margin-top: 1rem;
       padding-block-start: 4px;
}
#text h1{
    font-weight: 700;
font-size: 32px;
line-height: 37px;
}
#text h2{
    font-weight: 700;
font-size: 18.72px;
line-height: 22px;
}
img {
    width: 100px;
}
.activity{
height: 378px;
left: 0px;
top: 343px;
background:#F1FAEE;
color: #1D3557;
}
.activity h3{
font-weight: 700;
font-size: 24px;
line-height: 28px;
margin: 0 auto;
}
.activity-heading{
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 439px;
height: 6rem;
}
.sports{
    display:flex;
    justify-content: center;
}
.sport-sec{
    padding-inline: 1.5rem;
    display: flex ;
    flex-direction: column;
align-items: center;
width: 12rem;
margin-right: 1rem;
}
.sport-img{
    border-radius: 50%;
}
.sport-heading{
    height: 2rem;
    font-size: 16px;
    line-height: 18px;
}
.card-sec{
    display: flex;
justify-content: center;
align-items: center;
    height: 394px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A8DADC;
   padding: 1rem;
   border-bottom: 8px solid #1D3557 ;
    height: 294px;
    width: 400px;
    color: #1D3557;
    border-radius: 10px;
}
.card-img{
    width: 180px;
height: 248.67px;
}
.card-details{
    padding: .5rem;
}
#italic{
font-style: italic;
}